body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: white;
}

/* HEADER */
header {
    position: relative;
    background-color: black;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
}

/* Menu igual à página inicial */
.menu-container {
    position: absolute;
    right: 20px;
    top: 20px;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    background: red;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background: white;
    color: black;
    border-radius: 5px;
    min-width: 120px;
    overflow: hidden;
}

.menu-dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.menu-dropdown a:hover {
    background: #ddd;
}

#menu-toggle:checked + .menu-btn + .menu-dropdown {
    display: block;
}

/* CONTEÚDO */
.conteudo {
    max-width: 900px;
    margin: 40px auto;
    background: #111;
    padding: 30px;
    border-radius: 10px;
}

.conteudo h2, 
.conteudo h3 {
    color: red;
    text-align: center;
}

.descricao {
    text-align: center;
    font-size: 18px;
    color: #ddd;
    margin-bottom: 30px;
}

/* auto explicativo parça */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* ft clientes */
.galeria img {
    width: 200px;
    border-radius: 10px;
    border: 3px solid red;
    transition: 0.3s;
}
/* movimento img clientes */
.galeria img:hover {
    transform: scale(1.05);
}

/* footer */
footer {
    margin-top: 40px;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
