/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
}

/* HEADER */
header {
  position: relative;
  background-color: black;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 160px;
}

/* MENU */
.menu-container {
  position: absolute;
  right: 20px;
  top: 20px;
}

#menu-toggle {
  display: none;
}

.menu-btn {
  background: red;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background: white;
  color: black;
  border-radius: 5px;
  min-width: 120px;
}

.menu-dropdown a {
  display: block;
  padding: 10px;
  color: black;
}

#menu-toggle:checked + .menu-btn + .menu-dropdown {
  display: block;
}

/* TÍTULO */
h3 {
  color: white;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

/* GRID */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD */
article {
  background: #111;
  border: 2px solid white;
  border-radius: 8px;
  padding: 15px;
  width: 260px;
  transition: 0.25s;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}

article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
}

article img {
  width: 100%;
  border-radius: 8px;
}

article h1 {
  font-size: 20px;
  color: white;
}

/* PREÇO */
.preco {
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: red;
  margin: 10px 0;
}

/* BOTÃO */
.btn-comprar {
  display: block;
  background: red;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: .2s;
}

.btn-comprar:hover {
  background: #cc0000;
  transform: scale(1.05);
}

/* footer */
footer {
  background: #111;
  padding: 20px;
  text-align: center;
  color: #bbb;
  margin-top: 40px;
  border-top: 2px solid red;
}

footer p {
  margin: 5px;
}

/* responsivo */
@media (max-width: 600px) {

  .logo {
    width: 90px;
  }

  article {
    width: 90%;
  }

  h3 {
    font-size: 22px;
  }

  .menu-container {
    right: 10px;
    top: 10px;
  }
}
